extends ../layout

block content
    h1 Edit Novel
    form(action="/novels/edit/"+novel._id,method="post")
        .form-group
            label(for="FName") Author Name
            input#FName(type="text", class="form-control", name="FName", value=novel.FName)
        .form-group
            label(for="Email") Email
            input#Email(type="text", class="form-control", name="Email", value=novel.Email)
        .form-group
            label(for="City") City
            input#City(type="text", class="form-control", name="City", value=novel.City)
        .form-group
            label(for="Country") Country
            input#Country(type="text", class="form-control", name="Country", value=novel.Country)
        .form-group
            label(for="Novel_name") Novel Name
            input#Novel_name(type="text", class="form-control", name="Novel_name", value=novel.Novel_name)
        .form-group
            label(for="Genre") Novel Genre
            input#Genre(type="text", class="form-control", name="Genre", value=novel.Genre)
        input(type="submit", class="btn btn-info")